{% extends 'base.html' %}
{% block title %}{% endblock title %}

{% block content %}
<b>
    Порядок поведения оплаты через Модульбанк
Дата публикации: 18.02.2022

Проведение оплаты:
Получив доступ в Интернет-магазин, Покупатель осуществляет выбор товаров/услуг и оформляет заказ на покупку товаров/предоставление услуг (далее – заказ).
После успешного оформления заказа покупатель выбирает способ оплаты заказа при помощи карты и переадресуется из Интернет-магазина в систему Интернет-платежей Модульбанка(pay.modulbank.ru) для осуществления ввода реквизитов карты.
При этом, из Интернет-магазина в систему Интернет-платежей Банка передается информация о заказе, определяемая «Протоколом». Каждому оформляемому через Интернет-магазин заказу присваивается уникальный номер (код), являющийся идентификатором заказа (далее – номер заказа). Порядок его формирования определяется «Протоколом».
При этом:
● при положительном результате авторизации операции (получении от эмитента карты кода авторизации) Покупатель получает извещение об успешной оплате заказа;
● при отрицательном результате авторизации операции (поступлении от эмитента карты отказа в проведении авторизации операции) Покупатель получает извещение о невозможности оплаты заказа с использованием данной карты.
Информация о результатах авторизации также передается из Системы Интернет-платежей Банка в Интернет магазин Клиента.
Информация о мерах по обеспечению безопасности Операций с использованием Карт:
Перечень реквизитов карты, вводимых Покупателем в системе Интернет-платежей Банка при проведении платежей через Интернет, устанавливается Банком в соответствии с Правилами Платежных систем.
После успешного ввода Покупателем в Системе Интернет-платежей Банка реквизитов карты, необходимых для осуществления платежа через Интернет, Банк обеспечивает проведение авторизации операции и предоставляет информацию о ее результатах.
Вводимая покупателем персональная информация на сайте pay.modulbank.ru хранится исключительно в банковской системе. Сайт банка поддерживает 128-битное SSL-шифрование для большей безопасности. Любая информация, переданная на платёжную страницу банка, в безопасности и защищена специальными средствами.
Проведение возврата:
Возврат денежных средств Покупателю при возврате товаров/отказе от услуг обеспечивается Банком (в соответствии с Правилами Платежных систем). Возврат производится эмитенту карты, безналичным образом, по реквизитам карты, с использованием которой проводилась исходная операция.

Вышеуказанные действия производятся Банком на основании информации об операциях возврата товаров/отказа от услуг, имеющейся в Информационных системах Банка и ПЦ.
Порядок перечисления эмитентом карты денежных средств держателю карты определяется внутренними правилами эмитента и/или договором между эмитентом и держателем карты.
 
В случае возникновения ошибки при оплате покупатель может обратиться в техническую поддержку Модульбанка по телефону 8 800 444 0550 или на почту int.acquiring@modulbank.ru.

</b>
{% endblock %}