{% extends 'base.html' %}

{% block title %}
Все товары категории: {{ product_group.title }}
{% endblock title %}

{% block content %}
<div class="card col-12">
  <h1 class="card-header">Все товары категории: {{ product_group.title }}</h1>
    {% for product in page_obj %}
      <ul>
        <li>
        <h4>Товар: <b>{{ product.name }}</b></h4>
        <br>
        <a href="{% url 'sales_backend:product_detail' product.id %}" class="btn btn-primary">
        Ссылка на этот товар
        </a>
        </li>
      </ul>      
      {% if not forloop.last %}
      <hr>
      {% endif %}
    {% endfor %}
</div>
{% include 'sales_backend/includes/paginator.html' %}
{% endblock %}