{% extends 'base.html' %}
{% block title %}{% endblock title %}

{% block content %}
<b>
    Общество  с  ограниченной  ответственностью
    «БОДЕЛАН»
    
    ИНН 
        6163134604
    КПП
        616801001
    ОГРН 
        1146195003151
    ОКПО 
        24221036
    Расчетный счет
         40702810070010303856
    К/сч
         30101810645250000092
    БИК
         044525092
    Банк	МОСКОВСКИЙ ФИЛИАЛ АО КБ "МОДУЛЬБАНК"
    Юридический адрес 
        344016, г. Ростов на Дону, пер., 1-й Машиностроительный д. 3 офис 44 тел. +79381284045, 
    E-mail: agro-opt@mail.ru
    
    Почтовый	344090, г. Ростов-на-Дону, ул. Жмайлова 19/1 кв 2.
    Генеральный директор (действует на основании Устава)
        В лице Боделана Сергея Евгеньевича.
    Система налогообложения, без НДС	УСН 
        
      
    
</b>
{% endblock %}